{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%}
   <title>Login - Taskmate </title>
{% endblock title%}

{% block content %}
     <div class="container text-info">
     </br>
     <h2> Login On TaskMate </h2>
     <img src="{% static 'images/stickynotes-4.jpg' %}" class="rounded float-end" alt="Notes" width="360" heigth="250">
     
   {% if messages %}
     {% for message in messages%}
          <div class="alert alert-info alert-dismissible fade show " role="alert">
            {{message}}
            
            <button type="button" class="btn-close mr-2" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            

          </div>
          {% endfor %}
   {% endif %}  
    


         <form method="POST" class="mt-5 col-6">
           {% csrf_token %}

           {{ form|crispy}}

           <button class="btn btn-primary mb-5" type="submit">Login</button>
         </form>
          
     </div>
          
{% endblock content %}